{% macro youtube(id) -%}
  <iframe width="420" height="315" src="//www.youtube.com/embed/{{id}}" frameborder="0" allowfullscreen>
  </iframe>

  (This embedded video was brought to you by the <tt>youtube</tt> macro.
  See [this macro definition file](https://github.com/inducer/courseflow-sample/blob/master/macros.jinja)
  in the sample content repository for an example of how to do define macros.)
{%- endmacro %}
